<?xml version="1.0"?>
<configuration>
  <runtime>
    <gcServer enabled="true" />
    <gcConcurrent enabled="false" />
  </runtime>
  <appSettings>
    <!-- runtime parameters -->
    <add key="smoothing" value="mkn" />
    
    <add key="gtmin" value="0 0 0 0 0 0 2 2 2 2" />

    <add key="gtmin" value="1 1 1 2 2 2 2 2 2 2" />
    <add key="gtmin" value="0 0 0 1 0.5 0.5 2 2 2 2" />
    <add key="gtmax" value="5 1 7 7 7 7 7 7 7 7" />
    <add key="interpolate" value="true" />
    <add key="text" value="e.txt" />
    <add key="unk" value="true" />
    <add key="useCutoff" value="1" />
    <add key="order" value="5" />
    <add key="countsAreModified" value="true" />
    <add key="prepareCountsAtEnd" value="false" />
    <add key="needPrepareCounts" value="true" />
    <add key="vocab" value="vocab.txt" />
    <add key="reverse" value="0" />
    <add key="dumpBinLM" value="true" />
    <add key="LMBinFile" value="e.lm.5.pipe.3.bin" />
    <add key="dumpArpaLM" value="true" />
    <add key="LMArpaFile" value="e.arpa.5.pipe.5.lm" />
    <add key="CountBinFile" value="counts.recurse.64.3.bin" />
    <add key="CountBinFile" value="counts.recurse.64.3.bin" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>